.va-container.va-container--top
  .va-container__inner
    .va-top-visual
      .va-top-visual__inner.clearfix
        .va-top-visual__inner__copy
          .va-top-visual__inner__copy--main
            君が社長になって
            %br
            %br
            自分自身を面接しよう。
          .va-top-visual__inner__copy--sub
            あなたが書いたそのES、
            %br
            あなたがもしその会社の社長なら
            %br
            自分の会社に入れたいと思いますか？
          %a.va-top-visual__inner__copy--registration{:href => "/users/sign_up"} いますぐ始める
          .va-top-visual__app
            %a.va-top-visual__app-btn{:href => ""}
              %i.icon.ion-social-apple>
              iOS
            %a.va-top-visual__app-btn{:href => ""}
              %i.icon.ion-social-android>
              ※Androidのリリースは未定です

        .va-top-visual__inner__device
          %img{:alt => "device-image", :src => "https://cdn-ak.f.st-hatena.com/images/fotolife/l/lilybelly/20190331/20190331011640.png"}
      %section.top_sec1
        .top_sec1_inner.clearfix
          .sec1_box
            %b
              memoSHEEEtとは？
              %em
                memoSHEEEtは、
                %br
                就活生向けのエントリーシートを管理するサービス。
                %br
                スマートフォンと連携しているので、
                %br
                電車内などの空いた時間にESを作成したり
                %br
                面接前に自分が提出したESを携帯でチェックできます。
                %br
                また書いたESが採用するかどうか
                %br
                あなた自身が採用する視点に立つことで
                %br
                自分のESの足りない部分が見えてくる
                %br
                「セルフ面接官チェックサービス」も。
                %br
                （このサービスはwebのみになります）

            %a.registration{:href => "/users/sign_up"} memoSHEEEtを始める
          .sec1_bg
            %img{src: "https://cdn-ak.f.st-hatena.com/images/fotolife/l/lilybelly/20190328/20190328223555.png"}
      %section.lgout_top_sec2
        .top_sec2_inner.clearfix
          .sec2_box
            %b
              便利な機能❶管理機能
              %em
                書いたESを携帯に保存したり、パソコンに保存したり、
                %br>/
                いざ面接の前になって「どこに保存したっけ？」なんてことはありませんか？
                %br>/
                memoSHEEEtでは携帯で保存してもパソコンで保存しても自動で同期してくれる
                %br>/
                そして企業ごとにまとめて保存するので、何の企業にどんなESを出したか一目瞭然
            %a.registration{:href => ""} memoSHEEEtを始める
          .sec2_bg
            %img{src: "https://cdn-ak.f.st-hatena.com/images/fotolife/l/lilybelly/20190328/20190328223555.png"}
      %section.lgout_top_sec3
        .top_sec3_inner.clearfix
          .sec3_box
            %b
              便利な機能❷検索機能
              %em
                さらに

                企業名やESの質問項目名で検索もできちゃう
                %br
                同じ質問項目には、検索して参考にしよう
            %a.registration{:href => "/users/sign_up"} memoSHEEEtを始める
          .sec3_bg
            %img{src: "https://cdn-ak.f.st-hatena.com/images/fotolife/l/lilybelly/20190328/20190328223555.png"}
      %section.lgout_top_sec4
        .top_sec4_inner.clearfix
          .sec4_box
            %b
              便利な機能❸通知機能
              %em
                たくさんのESで、
                %br
                「気づけば提出締め切りを過ぎてた！ 」なんてことはありませんか？
                %br
                memoSHEEEtでは締め切り日の前日にあなたの携帯にお知らせ
                %br
                これでES提出漏れも完璧に防ごう
            %a.registration{:href => "/users/sign_up"} memoSHEEEtを始める
          .sec4_bg
            %img{src: "https://cdn-ak.f.st-hatena.com/images/fotolife/l/lilybelly/20190328/20190328223555.png"}

