%header.va-header{:class => "{$modifiers}"}
  .va-header__inner.va-header__inner--top
    .va-header__box
      .va-header__logo-wrapper
        %a.va-header__logo{:href => "/"}
      .va-header__help
        %span.js-open-menu
      .va-header__login
        %a.va-btn.wh{:href => "https://valu.is/login"}
          %span.va-btn__inner ログイン
      .va-header__registration
        %a.va-btn.all-wh{:href => "https://valu.is/register"}
          %span.va-btn__inner 新規登録
