<header class="va-header {$modifiers}">
  <div class="va-header__inner va-header__inner--top">
    <div class="va-header__box">
        <div class="va-header__logo-wrapper">
        <a href="/" class="va-header__logo"></a>
        </div>

        <div class="va-header__search"><span class="js-search-toggle"></span></div>

        <div class="va-header__help">
        <span class="js-open-menu"></span>
  <!--       <ul class="menu_list">
            <li>
                <span>VALUとは</span>
                <a href="https://valu.is/about"></a>
            </li>
            <li>
                <span>ヘルプ</span>
                <a href="https://help.valu.is/"></a>
            </li>
            <li>
                <span>お問い合わせ</span>
                <a href="https://help.valu.is/"></a>
            </li>
            <li>
                <span>ご利用にあたって</span>
                <a href="https://valu.is/guide"></a>
            </li>
            <li>
                <span>アップデート・お知らせ</span>
                <a href="https://help.valu.is/hc/ja/categories/360000393572"></a>
            </li>
            <li>
                <span>利用規約</span>
                <a href="https://valu.is/terms"></a>
            </li>
            <li>
                <span>プライバシーポリシー</span>
                <a href="https://valu.is/privacy"></a>
            </li>
            <li>
                <span>特定商取引法に基づく表記</span>
                <a href="https://valu.is/law"></a>
            </li>
            <li>
                <span>運営会社</span>
                <a href="https://valu.is/company"></a>
            </li>
        </ul> -->
        </div>

        <div class="va-header__login">
        <a href="https://valu.is/login" class="va-btn wh"><span class="va-btn__inner">ログイン</span></a>
        </div>

        <div class="va-header__registration">
        <a href="https://valu.is/register" class="va-btn all-wh"><span class="va-btn__inner">新規登録</span></a>
        </div>
    </div>
  </div>
</header>
